<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="version_info" action="/test" enctype="multipart/form-data" method="post">
        <div class="container">
            <table>
                <tr>
                    <td><label for="versionName">版本名称：</label></td>
                    <td style="width: 350px;"><input type="text" class="form-control" id="versionName" name="versionName" required/></td>
                </tr>
            </table>
        </div>
    </div>
        <input type="submit" class="btn btn-primary" id="add_submit" value="提交"/>
</form>
</body>
<script>
    $("#version_info").submit(function(e){
        e.preventDefault();
        alert("form已经禁止提交");
    });
    function f() {
        return false;
    }
</script>
</html>